
tr.tabTitle td {
  color: Navy;
  font-weight: bold;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px;  
}

tr.tab {
  height: 22px;
}

tr.tab td {
  width: 9px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid;
  border-color: #336699;
  background-position: 100%;
  background-repeat: no-repeat;
  font-weight: bold;	
  text-align: center;
}

tr.tab td.begin {
  width: 10px;
}

tr.tab td.left {
  background: url(../images/tabLeft.gif);
}

tr.tab td.center {
  border-top: 1px solid;
  color: #336699;
}

tr.tab td.center a {
  color: #336699;
  text-decoration: none;
}

tr.tab td.right {
  background: url(../images/tabRight.gif);
}

tr.tab td.currentLeft {
  background: url(../images/tabCurrentLeft.gif);
}

tr.tab td.currentCenter {
  background-color: #336699;
  border-top: 1px solid;
  color: #FFFFFF;
}

tr.tab td.currentRight {
  background: url(../images/tabCurrentRight.gif);
}

tr.tab td.end {
  width: 100%;
}
